# Set the default ros output to warning and higher
log4j.logger.ros=WARN
 
# Override package to output
log4j.logger.ros.pos_kinematic_ctrl=DEBUG
log4j.logger.ros.inverse_kinematic_ctrl=DEBUG
log4j.logger.ros.snake_arm_visual=DEBUG
log4j.logger.ros.snake_arm=DEBUG
log4j.logger.ros.snake_base_ctrl=DEBUG