<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="model_base">

    <link name="base"> 
    </link>

    <link name="model_base">
        <inertial>
            <origin xyz="5.4754E-06 -0.38086 4.4983E-09" rpy="0 0 0" />
            <mass value="294.14" />
            <inertia ixx="25.189" ixy="0.0010536" ixz="-1.5964E-07" iyy="17.672" iyz="7.0908E-07" izz="26.383" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://pos_kinematic_ctrl/meshes/model_base.STL" />
            </geometry>
            <material name="">
                <color rgba="0.79216 0.81961 0.93333 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://pos_kinematic_ctrl/meshes/model_base.STL" />
            </geometry>
        </collision>
    </link>

    <joint name="fixed" type="fixed">
        <parent link="base"/>
        <child link="model_base"/>
    </joint>

</robot>